.tds-page {
  width: 70%;
}

[name="warningCompatibility"] {
  font-weight: bold;
}

[name="issue"] {
  flex-grow: 0;
}

[name="expired"] {
  flex-grow: 0;
}

/*
[name="machineId"] {
  width: 20rem;
}


[name="path"] {
  width: 30rem;
} */