*.log
*.map
*.vsix
.editorconfig
.vscode-test
.vscode/mapa timestamp.txt
~/
nls.*
node_modules
out
out-test
package-lock.json
test-extension/
test-resources/
out-test/
*.dmp
src/parser/4gl-parser.js
notas.md
syntaxes/build
*.txt
*.ppo
test/**/no_git
test/**/fw/**
test/**/.vscode/servers.json
test/**/.vscode/settings.json
test/**/.vscode/launch.json
test/**/.vscode/servers.json
test/**/.cache
test/**/.advpl
