*.log
*.map
*.vsix
.editorconfig
.vscode-test
.vscode/mapa timestamp.txt
~/
nls.*
node_modules
out
out-test
package-lock.json
test-extension/
test-resources/
test/resources/advpl/**/.vscode/servers.json
test/resources/project-advpl/.vscode/servers.json
