sudo: false

language: node_js
node_js:
- "node"

matrix:
  include:
    - os: linux
      dist: trusty
      addons:
        apt:
          packages:
            - libdbus-glib-1-dev
            - libdbus-1-dev
    - os: osx

install:
- npm install
- npm run compile

script:
- npm test
