.vscode/**
.vscode-test/**
out-test/**
test/**
src/**/*.ts
src/**/*.tsx
**/*.map
**/*.d.*
docs/**
imagens/**
.github
.gitignore
gulpfile.js
tsconfig.json
.all-contributorsrc
vsc-extension-quickstart*.md
*.code-workspace
*.log
test-resources/**
