~
**/*.d.*
**/*.map
*.code-workspace
*.log
.all-contributorsrc
.github
.gitignore
.vscode-test/**
.vscode/**
docs/**
gulpfile.js
imagens/**
out-test/**
src/**/*.ts
src/**/*.tsx
test-extension/**
test-resources/**
test/**
tsconfig.json
vsc-extension-quickstart*.md
