[name="serverType"] {
	width: 20rem;
}

[name="immediateConnection"] {
	margin-left: 1rem;
}

[name="serverName"] {
	width: 30rem;
}

[name="address"] {
	width: 30rem;
}

[name="port"] {
	width: 10rem;
}

[name^="includePaths."] {
	width: 100%;
}