[name="serverType"] {
	width: 20rem;
}

[name="includeDirectoriesLabel"] {
	margin-top: var(--type-ramp-minus2-line-height);
	margin-bottom: calc(var(--type-ramp-minus2-line-height) / 2);
	font-weight: bold;
}