#selectGrid {
  align-items: flex-start;
}

#selectGrid .select-resource-component {
  width: 50%;
  height: 50%;
}

#directionButtons {
  align-self: center;
}

[name="objectLeft"] {
  font-weight: "bold"
}

[name="objectRight"] {
  font-weight: "bold"
}