#selectGrid {
  align-items: flex-start;
}

#selectGrid .select-resource-component {
  width: 50%;
  height: 60vh;
}

#directionButtons {
  align-self: center;
}

[name="resource_name"] {
  margin-top: var(--type-ramp-minus2-line-height);
  margin-bottom: calc(var(--type-ramp-minus2-line-height) / 2);
  font-weight: bold;
}

[name="objectLeft"] {
  font-weight: "bold"
}

[name="objectRight"] {
  font-weight: "bold"
}