<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>${d.localize["tds.webview.template.apply"]}</title>
	<!--Template Apply-->
	<style>
		${d.css}
	</style>
	<!--<link rel="stylesheet" type="text/css" href="../../resources/css/table_materialize.css">-->
</head>

<body>
	<div class="mainContainer">
		<div class="formWrap" style="background-image: none;">

			<form name="form_init" id="form_init" onsubmit="save()">

				<div class="logo">
					<span class="formTitle">${d.localize["tds.webview.template.apply"]}</span>
					<!--Template Apply-->
				</div>

				<div class="wrap-input">
					<label for="templateFile">Template File: </label>
					<!--Template File-->
					<input class="inputText" type="text" id="FileTemplate" name="FileTemplate"
						placeholder="Ex: C:/totvs/templates/modelo.tpl...">
					<input class="inputText" type="file" accept='TemplateFile/*.tpl' id="btn-File" name="btn-File"
						onchange="setTextArea(event)" />
				</div>

				<div class="wrap-submit">
					<input class="btn-submit" readonly id="submitApplyID" type="button" value="Apply"
						onclick="templateApply(false);" />
					<input class="btn-submit" readonly id="submitCloseID" type="button" value="Close"
						onclick="templateApply(true);" />

				</div>

			</form>
		</div>
	</div>
</body>

<script>
	${ d.script }
	const vscode = acquireVsCodeApi();

	function templateApply(close) {
		let templatePath = document.getElementById('FileTemplate').value;
		if (close) {
			vscode.postMessage({
				command: 'close',
				templateFile: templatePath,
			});
		} else {
			vscode.postMessage({
				command: 'templateApply',
				templateFile: templatePath,
			});
		}
	}

	window.addEventListener('message', event => {
		const message = event.data; // The JSON data our extension sent
		switch (message.command) {
			case 'setTemplatePath':
				document.getElementById('FileTemplate').value = message.path;
				break;
			case 'addFilepath':
				addFile(message.file);
				break;
		}
	});

	function setTextArea(event) {
		const input = event.target;
		const files = input.files;
		if (files.length == 1) {
			document.getElementById('FileTemplate').value = files[0].path;
		}
	}
</script>

</html>