span.tds-required::after {
	content: "*";
	color: var(--vscode-editorError-foreground);
}

.tds-no-margin {
	margin: 0px;
}

.tds-group-container {
	box-sizing: border-box;
	display: flex;
	flex-flow: row;
	align-items: flex-end;
	justify-content: flex-start;
	border: 1px;
	margin: 0px;
	width: 100%;
}

.tds-item-grow {
	flex-grow: 1;
	flex-shrink: 0;
}

.tds-dropdown-container {
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.tds-dropdown-container label {
	display: block;
	cursor: pointer;
	margin-bottom: calc(var(--type-ramp-minus2-line-height) / 2);
}

.tds-numeric-field-container,
.tds-text-field-container {
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.tds-numeric-field-container input.control {
	text-align: right !important;
	background-color: aqua;
}

.tds-selection-folder-container,
.tds-selection-file-container {
	margin-left: 1rem;
}

.tds-selection-folder-container input[type="file"],
.tds-selection-file-container input[type="file"] {
	visibility: hidden;
}

.tds-simple-text-field-container input.control {
	width: 100%;
}

vscode-data-grid-row:hover {
	background-color: transparent;
}

.tds-loading {
	visibility: hidden;
}

.tds-hidden {
	visibility: hidden;
}

.tds-button-button+.tds-button-button {
	margin-right: 2rem;
	padding: 0;
	text-align: center;
}