.tds-form {
	width: fit-content;
	max-width: 80%
}

span.tds-required::after {
	content: "*";
	color: var(--vscode-editorError-foreground);
}

.tds-no-margin {
	margin: 0px;
}

.tds-group-container {
	box-sizing: border-box;
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	justify-content: flex-start;
	border: 1px;
	margin: 0px;
	width: 100%;
}

.tds-flow-column {
	flex-flow: column;
}

.tds-group-container+.tds-field-container,
.tds-field-container+.tds-group-container,
.tds-group-container+.tds-group-container {
	margin-top: var(--type-ramp-minus2-line-height);
}

.tds-item-grow {
	flex-grow: 1;
	flex-shrink: 0;
}

.tds-item-align-vertical-center {
	align-self: center;
}

.tds-dropdown-container {
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	/* align-items: flex-start;
	justify-content: flex-start; */
}

.tds-dropdown-container label {
	display: block;
	cursor: pointer;
	margin-bottom: calc(var(--type-ramp-minus2-line-height) / 2);
}

.tds-grid-container {
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	justify-content: flex-start;
	width: 100%;
}

.tds-grid-container div.scroll {
	overflow: scroll;
	/* height: calc(100% - var(--type-ramp-minus2-line-height)); calculado não funcionou */
	height: 400px;
}

.tds-field-container {
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	/* justify-content: flex-start; */
	align-self: flex-end;
	width: 100%;
}

.tds-field-container label {
	margin-bottom: calc(var(--type-ramp-minus2-line-height) / 2);
}

.tds-field-container+.tds-field-container {
	margin-left: var(--type-ramp-minus2-line-height);
}

.tds-selection-selection-resource-field {
	width: 120px;
}

.tds-simple-text-field input.control {
	width: 100%;
}

vscode-data-grid-row:hover {
	background-color: transparent;
}

.tds-hidden {
	visibility: hidden;
}

.tds-button-button {
	/* margin-right: 2rem; */
	/* padding: 0; */
	text-align: center;
	width: 120px;
}

.tds-button-button+.tds-button-button {
	margin-right: 2rem;
}

div.tds-message {
	margin-top: var(--type-ramp-minus2-line-height);
	display: flex;
}