div .tds-header {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: fit-content;
	margin-bottom: calc(var(--type-ramp-minus2-line-height));
	border-bottom: 2px solid var(--vscode-commandCenter-border);
}

div .tds-logo {
	width: 35px;
	height: 35px;
	padding: 3px;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 1rem;
}

div .tds-header h1 {
	margin: 3px;
	flex-grow: 1;
}

div .tds-help-doc {
	text-align: left;
	align-self: flex-end;
}