section.tds-header {
	/* flex-grow: 0;
	flex-shrink: 1;
	order: 0; */
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	flex-direction: row;
	align-items: flex-end;
}

section.tds-header h1 {
	margin: 3px;
	flex-grow: 1;
}

div.tds-logo {
	width: 35px;
	height: 35px;
	padding: 3px;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 1rem;
}

div.tds-help-doc {
	text-align: left;
	align-self: flex-end;
}