page .tds-page {
	align-content: normal;
	align-items: normal;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: normal;
}

div .tds-header {
	flex-grow: 0;
	flex-shrink: 1;
	order: 0;
}

div .tds-content {
	/* width: 100%; */
	align-content: normal;
	align-items: normal;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	order: 0;
	overflow: auto;
}

div .tds-actions {
	align-self: normal;
	display: flex;
	flex-direction: row-reverse;
	flex-grow: 0;
	flex-shrink: 1;
	order: 0;
	overflow: hidden;
	width: 100%;
}

div .tds-actions vscode-button {
	align-self: normal;
	margin-left: calc(var(--type-ramp-minus2-line-height) /2);
}

footer .tds-footer {
	display: flex;
	flex-direction: row-reverse;
	flex-grow: 0;
	flex-shrink: 1;
	height: fit-content;
	margin-bottom: var(--type-ramp-minus2-line-height);
	order: 0;
	width: 100%;
}

.tds-error {
	background-color: var(--vscode-inputValidation-errorBackground);
	border-color: var(--vscode-errorBorder);
	color: var(--vscode-inputValidation-errorForeground);
}

.tds-info {
	background-color: var(--vscode-inputValidation-infoBackground);
	border-color: var(--vscode-inputValidation-infoBorder);
	color: var(--vscode-descriptionForeground);
}