page .tds-page {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: normal;
	align-items: normal;
	align-content: normal;
}

div .tds-header {
	flex-grow: 0;
	flex-shrink: 1;
	order: 0;
}

div .tds-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-self: stretch;
	order: 0;
	align-items: normal;
	align-content: normal;
	overflow: auto;
	/* width: 100%; */
}

div .tds-actions {
	display: flex;
	flex-direction: row-reverse;
	flex-grow: 0;
	flex-shrink: 1;
	align-self: normal;
	order: 0;
	overflow: hidden;
	width: 100%;
}

div .tds-actions vscode-button {
	align-self: normal;
	margin-left: calc(var(--type-ramp-minus2-line-height) /2);
}

footer .tds-footer {
	display: flex;
	flex-direction: row-reverse;
	flex-grow: 0;
	flex-shrink: 1;
	order: 0;
	width: 100%;
	height: fit-content;
	margin-bottom: var(--type-ramp-minus2-line-height);
}

.tds-group-container {
	box-sizing: border-box;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: flex-start;
	border: 1px;
	margin: 0px;
	width: 100%;
}

.tds-item-grow-group {
	flex-grow: 1;
	flex-shrink: 0;
	;
}

.tds-dropdown-container {
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;

	margin-bottom: var(--type-ramp-minus2-line-height);
}

.tds-dropdown-container label {
	display: block;
	cursor: pointer;
	margin-bottom: calc(var(--type-ramp-minus2-line-height) / 2);
}

.tds-numeric-field-container,
.tds-text-field-container {
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;

	margin-bottom: var(--type-ramp-minus2-line-height);
}

.tds-numeric-field-container label,
.tds-text-field-container label {
	margin-bottom: calc(var(--type-ramp-minus2-line-height) / 2);
}

.tds-numeric-field-container {
	text-align: right;
}