.tds-popup {
	position: relative;
	display: in--type-ramp-minus2-line-height-block;
	cursor: pointer;
}

/* The actual popup (appears on top) */
.tds-popup .tds-popuptext {
	visibility: hidden;
	width: fit-content;
	text-wrap: nowrap;
	text-align: center;
	border-radius: 6px;
	padding: 8px;
	position: absolute;
	z-index: 1000;
	bottom: 200%;
	left: 50%;
	margin-left: -80px;
}

/* Popup arrow */
/* .tds-popup .tds-popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--vscode-inputValidation-infoBorder) transparent transparent transparent;
} */

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.tds-popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1.5s;
	animation: fadeIn 1.5s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}